<div class="container">
    <h1 class="mt-3">Edit Blogpost</h1>
    <ng-container *ngIf="model">
        <form #form="ngForm" (ngSubmit)="onFormSubmit()">
            <div class="mt-2 mb-5">

                <!-- Blogpost Title -->
                <div class="mt-3">
                    <label for="Title" class="form-label">Blogpost Title</label>
                    <input type="text" id="Title" class="form-control" name="Title" [(ngModel)]="model.title" required>
                </div>

                <!-- UrlHandle -->
                <div class="mt-3">
                    <label for="UrlHandle" class="form-label">UrlHandle</label>
                    <input type="text" id="UrlHandle" class="form-control" name="UrlHandle" [(ngModel)]="model.urlHandle" required>
                </div>

                <!-- ShortDescription -->
                <div class="mt-3">
                    <label for="ShortDescription" class="form-label">Short Description</label>
                    <input type="text" id="ShortDescription" class="form-control" name="ShortDescription" [(ngModel)]="model.shortDescription" required>
                </div>

                <!-- Content -->
                <div class="mt-3">
                    <label for="Content" class="form-label">Content</label>
                    <div class="d-flex flex-row">
                        <div class="col-6 p-2">
                            <textarea name="Content" id="Content" class="form-control"
                                style="height: 350px; max-height: 350px;" [(ngModel)]="model.content" required></textarea>
                        </div>
                        <div class="col-6 p-2" style="height: 350px; overflow-y: scroll;">
                            <markdown [data]="model.content"></markdown>
                        </div>
                    </div>
                </div>

               
                 <div class="mt-3">
                    <label for="FeatureImageUrl" class="form-label">Feature Image URL
                        <button type="button" class="btn btn-light" (click)="openImageSelector()"> select Image</button>
                    </label>
                    <ng-container *ngIf="model.featureImageUrl !==''">
                        <div>
                            <img [src]="model.featureImageUrl" height="100" class="my-2">
                        </div>
                    </ng-container>
                    <input type="text" id="FeatureImageUrl" class="form-control" name="FeatureImageUrl"
                        [(ngModel)]="model.featureImageUrl">
                </div>


                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label for="FeatureImageUrl">Feature Image URL</label>
                        <div class="input-group">
                            <input type="text" id="FeatureImageUrl" class="form-control" name="FeatureImageUrl" [(ngModel)]="model.featureImageUrl">
                            <button type="button" class="btn btn-light" (click)="openImageSelector()">Select Image</button>
                        </div>
                        <img *ngIf="model.featureImageUrl !==''" [src]="model.featureImageUrl" height="100" class="my-2">
                    </div>
                </div> -->

                <!-- PublishedDate -->
                <div class="mt-3">
                    <label for="PublishedDate" class="form-label">Published Date</label>
                    <input type="date" id="PublishedDate" class="form-control" name="PublishedDate"
                        [ngModel]="model.publishedDate | date:'yyyy-MM-dd'" (ngModelChange)="model.publishedDate = $event" required>
                </div>

                <!-- Author -->
                <div class="mt-3">
                    <label for="Author" class="form-label">Author</label>
                    <input type="text" id="Author" class="form-control" name="Author" [(ngModel)]="model.author" required>
                </div>

        
                <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox"  id="IsVisible" [(ngModel)]="model.isVisible" name="IsVisible">
                    <label class="form-check-label" for="IsVisible" >Is Visible?</label>
                  </div>


                  <div class="mt-3">
                    <label class="form-label" for="categories" >categories?</label>
                    <ng-container *ngIf="categories$ | async as categories">
                      <select class="form-control" id="categories" name="categories" multiple [(ngModel)]="selectedcategories" >
                        <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
                      </select> 
                    
                    </ng-container>
    
                  </div>







                <!-- Save Button -->
                <div class="mt-3 ml-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger ms-3 " (click)="onDelete()">Delete</button>
                </div>
        
            </div>
        </form>
    </ng-container>
</div>

<!-- Image Selector Modal -->
<div class="images-container-modal" [ngClass]="{'d-block':IsImageSelecterVisible,'d-none': !IsImageSelecterVisible}">
    <button type="button" class="btn btn-light" style="position: fixed; top: 10px; right:10px" (click)="closeImageSelector()">X</button>
    <app-image-selector></app-image-selector>

</div>
