<div class="container mt-3">
  <h1 class="mb-4">BlogPost List</h1>
  <div class="d-flex justify-content-end">
    <a [routerLink]="['/admin/blogposts/add']" class="btn btn-primary">Add BlogPost</a>
  </div>

  
  <ng-container *ngIf="blogposts$ | async as blogposts">
    <div class="table-responsive mt-3">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Short Description</th>
            <th scope="col">Is Visible</th>
            <th scope="col">Categories</th>
            <th > Actions </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let blogpost of blogposts" class="cursor-pointer" [routerLink]="['/blogposts', blogpost.id]">
            <td>{{ blogpost.title }}</td>
            <td>{{ blogpost.shortDescription }}</td>
            <td>
              <span class="badge bg-{{ blogpost.isVisible ? 'success' : 'danger' }}">
                {{ blogpost.isVisible ? 'Yes' : 'No' }}
              </span>
            </td>
            <td>
              <ng-container *ngIf="blogpost.categories && blogpost.categories.length > 0; else noCategories">
                <span *ngFor="let cat of blogpost.categories" class="badge bg-secondary me-2">{{ cat.name }}</span>
              </ng-container>
              <ng-template #noCategories>
                <span class="text-muted">No Categories</span>
              </ng-template>
            </td>
            <td>
              <a class="btn btn-light" [routerLink]="['/admin/blogposts', blogpost.id]"> Edit </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
